<!DOCTYPE HTML>
<html>
<head>
    <title>Log Monitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="log monitor nginx"/>
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel='stylesheet' type="text/css">
    <!-- Custom CSS -->
    <link href="{{ asset('bundles/app/css/style.css') }}" rel='stylesheet' type="text/css">
    <link href="{{ asset('bundles/app/css/font-awesome.css') }}" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!-- webfonts -->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <!-- Nav CSS -->
    <link href="{{ asset('bundles/app/css/custom.css') }}" rel="stylesheet">
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset('bundles/app/js/metisMenu.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/custom.js') }}"></script>
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('dashboard') }}">Log Monitor</a>
        </div>
        <div id="timeToRequest" class="navbar-right" style="margin-top: 6px; background-color: green; display: none; width: 200px; padding: 7px; color: white; font-weight: bold; text-align: center;">
            Data loaded!
        </div>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{{ url('displayLogs') }}"><i class="fa fa-fw fa-folder nav_icon"></i> Logs</a>
                    </li>
                    <li>
                        <a href="{{ url('displayLogs') }}"><i class="fa fa-fw fa-hand-o-right nav_icon"></i> Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="page-wrapper">
        {% block body %}{% endblock %}
    </div>
</div>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
