{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <a href="{{ url('addLog') }}"><button class="btn btn-success" style="width: 150px;">Create new</button></a>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <th>Path</th>
                <th>Lines to read</th>
                <th>Buffer length</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr style="border-bottom: 1px solid silver;">
                        <td>{{ log.pathToLog }}</td>
                        <td>{{ log.linesToRead }}</td>
                        <td>{{ log.bufferLength }}</td>
                        <td>
                            <a href="{{ path('editLog', {'path': log.pathToLog}) }}"><button class="btn btn-warning" style="width: 150px;">Edit</button></a>
                            <a href="{{ path('deleteLog', {'path': log.pathToLog}) }}"><button class="btn btn-success" style="width: 150px;">Remove</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
