{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <div id="accordion" class="allLogs">
            {% for log in logs %}
                <div class="singleLog">
                    <div class="titleLog">
                        <b>Path:</b> <i>{{ log.pathToLog }}</i>, <b>lines read:</b> {{ log.linesToRead }}
                        <div class="numberOfIntervalsContainer">
                            Logs from last <span class="numberOfSeconds"></span>s: <span class="numberOfLogs"></span>
                        </div>
                        <div class="timeOfLatestContainer">
                            Time of latest: <span class="timeOfLatest"></span>
                        </div>
                    </div>
                    <div class="bodyLog">
                        <table class="table">
                            <thead>
                                <th>Date</th>
                                <th>Hour</th>
                                <th>Message</th>
                                <th>Client IP</th>
                                <th>Server</th>
                                <th>Request</th>
                                <th>Upstream</th>
                                <th>Host</th>
                            </thead>
                            <tbody>
                                <td>No data</td>
                            </tbody>
                        </table>
                        <div class="panelLog">
                            <a href="#"><button class="btn btn-primary stopReading">Stop reading</button></a>
                            <span class="stopReadingMessage"></span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('bundles/app/js/log.js') }}"></script>
{% endblock %}
