#wrapper {
    width: 100%;
}
#page-wrapper {
    /*--padding: 0 15px;--*/
    min-height: 568px;
    background-color: #fff;
    padding: 20px;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        /*--padding: 0 30px;--*/
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.allLogs {
    margin-top: 15px;
    padding: 0;
    margin: 0;
}

.singleLog {
    margin-bottom: 20px;
}

.titleLog {
    padding: 4px;
}

.titleLog .numberOfIntervalsContainer {
    display: inline;
    padding: 0;
    margin: 0;
    float: right;
}

.titleLog .timeOfLatestContainer {
    display: inline;
    padding: 0;
    margin-right: 30px;
    float: right;
}

.titleLog .timeOfLatest {
    font-style: italic;
}

.bodyLog .panelLog {
    width: 100%;
    border-top: 1px solid black;
    padding: 7px;
}

.panelLog .stopReading {
    width: 150px;
}

.bodyLog .stopReadingMessage {
    padding-left: 20px;
    font-weight: bold;
}

.ui-accordion .ui-accordion-content {
    padding:0px
}

#content {
    font-size: 80%;
}

#content td {
    word-wrap:break-word;
    word-break:break-word;
}
